/* Basic Styles */

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body{
	-webkit-font-smoothing: antialiased;
	height: 100%;
	width: 100%;
}
body{
	font-family: 'Lato', sans-serif;
}
header{
	font-family: 'Playfair Display', serif;
}

/* Layout */
nav, header, .projects{
	float: left;
}
nav{
	width: 30%;
	height: 100%;
}

header, .projects{
	width: 70%;
}

